@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
}
body {
      
    text-transform: uppercase;
   background-color: #081b29
}
h1{
    text-align: center;
    color:white;
}
.Skills{
    width: 600px;
    background-color:#081b29;
    margin: 60px auto;
    color: white;
    padding: 20px;
}
.Skills li{
    margin: 2opx 0;
    padding: 10px;
}
.bar {
    background-color: white;
   display: block;
    height: 20px;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 00.24);
    overflow: hidden;
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
}
.s-3{
    font-size: 16px;
    font-weight: bold;
}
.s-4{
    font-weight: bold;
    font-size: 18px;
}
.html{
    width: 90%;
    animation: html 3s;
 }
 .CSS{
    width: 90%;
    animation: html 3s;
 }
 .JS{
    width: 90%;
    animation: html 3s;
 }
 .REACTJS{
    width: 90%;
    animation: html 3s;
 }
 .C{
    width: 90%;
    animation: html 3s;
 }
 .JAVA{
    width: 90%;
    animation: html 3s;
 }
 .DSA{
    width: 90%;
    animation: html 3s;
 }
 .Csharp{
    width: 90%;
    animation: html 3s;
 }
 .Csharp{
    width: 90%;
    animation: html 3s;
 }
 .SQL{
    width: 90%;
    animation: html 3s;
 }
 h2{
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
 }
 @keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    
 }
 @media(max-width:780px){
     h1{
        text-align: center;
        margin-right: 60px;
        margin-top: -40px;
     }
      .Skills{
        width: 350px;
      }
      .Skills h1{
         font-size: 20px;
         margin-top: -120px;
      }
      .s-3{
         font-size: 12px;
      }
      h2{
         font-size: 19px;
      }
      .s-4{
         font-size: 14px;
      }

 }